{% extends "mainpage/base.html" %}
{% load static %}
{% load static tailwind_tags %}

{% block title %}
    Sign Up
{% endblock %}
{% tailwind_css %}

{% block content %}
    <style>
        .raleway {
            font-family: "Raleway", sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            }
    </style>
    {% tailwind_css %}
</head>
<body>
    <div class="flex flex-row h-screen w-full raleway ">
        <div class="w-2/12 min-h-full bg-gradient-to-b from-[#6d171f]/[0.69] to-[#6d171f] hover:w-4/12 z-2 text-center font-bold">
            <div class="flex flex-col gap p-3 h-full">
                <p class="text-3xl p-3  border-4 rounded-xl border-[#6d171f]/[0.9] italic ">ADMIN PAGE</p>
                <br>
                <br>
                <div class="flex flex-col gap p-3 items-center justify-center h-full">
                    <button class="border-4 border-[#6d171f]/[0.9] bg-white bg-opacity-25 text-slate-900 p-3 rounded-xl text-xl">
                        Statictics
                    </button>
                    <br>
                    <button class="border-4 border-[#6d171f]/[0.9] bg-white bg-opacity-25 text-slate-900 p-3 rounded-xl text-xl">
                        Edit Categories
                    </button>
                    <br>
                    <button class="border-4 border-[#6d171f]/[0.9] bg-white bg-opacity-25 text-slate-900 p-3 rounded-xl text-xl">
                        Contact Dev
                    </button>
                </div>
                
            </div>
        </div>
        <div class="w-11/12 bg-gradient-to-br from-[#d3a044]/[0.5] to-[#d3a040] p-5 flex h-full justify-center items-center">
            <div class="grid grid-rows-3 border-4 border-[#1f2139]/[0.9] bg-[#1f2139] w-3/4 h-3/4 p-1 text-center text-">
                <div class="col-start-1 col-span-4 border-4 rounded-xl m-1 bg-white bg-opacity-15 text-slate-300 p-3 flex flex-col justify-center items-center">
                    <p class="text-1xl font-bold">Member Count</p>
                    <p class="text-4xl font-bold">224</p>
                </div>
                <div class="col-start-5 col-span-4 border-4 rounded-xl m-1 bg-white bg-opacity-15 text-slate-300  p-3 flex flex-col justify-center items-center">
                    <p class="text-1xl font-bold">Tickets Sold</p>
                    <p class="text-4xl font-bold">342</p>
                </div>
                <div class="col-start-9 col-span-4 border-4 rounded-xl m-1 bg-white bg-opacity-15 text-slate-300  p-3 flex flex-col justify-center items-center">
                    <p class="text-1xl font-bold">Accounts Created</p>
                    <p class="text-4xl font-bold">13</p>
                </div>
                <div class="col-start-1 col-span-6 border-4 rounded-xl m-1 bg-white bg-opacity-15 text-slate-300 p-3 flex flex-col justify-center items-center">
                    <p class="text-1xl font-bold">Main Building Count</p>
                    <p class="text-4xl font-bold">220</p>
                </div>
                <div class="col-start-7 col-span-6 border-4 rounded-xl m-1 bg-white bg-opacity-15 text-slate-300  p-3 flex flex-col justify-center items-center">
                    <p class="text-1xl font-bold">Exhibit A Tickets</p>
                    <p class="text-4xl font-bold">123</p>
                </div>
                <div class="col-start-1 col-span-4 border-4 rounded-xl m-1 bg-white bg-opacity-15 text-slate-300 p-3 flex flex-col justify-center items-center">
                    <p class="text-1xl font-bold">Exhibit B Tickets</p>
                    <p class="text-4xl font-bold">13</p>
                </div>
                <div class="col-start-5 col-span-4 border-4 rounded-xl m-1 bg-white bg-opacity-15 text-slate-300  p-3 flex flex-col justify-center items-center">
                    <p class="text-1xl font-bold">Exhibit C Tickets</p>
                    <p class="text-4xl font-bold">80</p>
                </div>
                <div class="col-start-9 col-span-4 border-4 rounded-xl m-1 bg-white bg-opacity-15 text-slate-300  p-3 flex flex-col justify-center items-center">
                    <p class="text-1xl font-bold">Profit</p>
                    <p class="text-4xl font-bold">80$</p>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
