{% extends "mainpage/base.html" %}
{% load static %}
{% load static tailwind_tags %}

{% block title %}
    Sign Up
{% endblock %}
{% tailwind_css %}

{% block content %}

        <link href="{% static 'mainpage/cat_styles.css' %}" rel="stylesheet">

        <div class="content">
            <div class="image">
                <img src="{% static 'mainpage/Fish-Gallery.jpg' %}" alt="Image 1">
            </div>
            
            <div class="layout">
                <h3>LAYOUT</h3>
            </div>
        </div>
        


        <div class = "content" style = "opacity: 0.6;">
          <div class = "checkout">
            <h1>Price</h1>
            <button>
              <h3> Pay </h3>
            </button>
          </div>

          <div class="ticket">
            <p>museum name - ticket</p>
            <div class="ticket-controls">
                <button class="decrease-btn">-</button>
                <span class="ticket-count">1</span>
                <button class="increase-btn">+</button>
            </div>
        </div>

        </div>
{% endblock %}