<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact the devs.</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>
        .raleway {
            font-family: "Raleway", sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            }
    </style>
</head>
<body>
    <div class="flex flex-row h-screen w-full raleway ">
        <div class="w-2/12 min-h-full bg-gradient-to-b from-[#6d171f]/[0.69] to-[#6d171f] hover:w-4/12 z-2 text-center font-bold">
            <div class="flex flex-col gap p-3 h-full">
                <p class="text-3xl p-3  border-4 rounded-xl border-[#6d171f]/[0.9] italic ">ADMIN PAGE</p>
                <br>
                <br>
                <div class="flex flex-col gap p-3 items-center justify-center h-full">
                    <button class="border-4 border-[#6d171f]/[0.9] bg-white bg-opacity-25 text-slate-900 p-3 rounded-xl text-xl">
                        Statictics
                    </button>
                    <br>
                    <button class="border-4 border-[#6d171f]/[0.9] bg-white bg-opacity-25 text-slate-900 p-3 rounded-xl text-xl">
                        Edit Categories
                    </button>
                    <br>
                    <button class="border-4 border-[#6d171f]/[0.9] bg-white bg-opacity-25 text-slate-900 p-3 rounded-xl text-xl">
                        Contact Dev
                    </button>
                </div>
                
            </div>
        </div>
        <div class="w-11/12 bg-gradient-to-br from-[#d3a044]/[0.5] to-[#d3a040] p-5 flex h-full justify-center items-center">
            <div class="grid grid-rows-3 border-4 border-[#1f2139]/[0.9] bg-gradient-to-b from-[#1f2139]/[0.9] to-[#1f2139] w-3/4 h-3/4 p-1 text-center">
                <div class="flex justify-center items-center col-start-1 col-span-1">
                    <p class="border-4 border-white border-opacity-10 rounded-xl  text-2xl text-white m-1 hover:border-opacity-100  p-4">
                        Contact Number:
                    </p>
                </div>
                <div class="flex justify-center items-center col-start-4 col-span-5">
                <p class="border-4 border-white border-opacity-10 rounded-xl  text-3xl text-white m-1 hover:border-opacity-100 p-4">
                    9875672631
                </p></div>
                <div class="flex justify-center items-center col-start-1 col-span-1">
                <p class="border-4 border-white border-opacity-10 rounded-xl  text-2xl text-white m-1 hover:border-opacity-100 p-4">
                    E-Mail:
                </p></div>
                <div class="flex justify-center items-center col-start-4 col-span-5">
                <p class="border-4 border-white border-opacity-10 rounded-xl  text-3xl text-white m-1 hover:border-opacity-100 p-4">
                    meutick_not_found@gmail.com
                </p></div>
                <div class="flex justify-center items-center col-start-1 col-span-1">
                <p class="border-4 border-white border-opacity-10 rounded-xl  text-2xl text-white m-1 hover:border-opacity-100 p-4">
                    Instagram:
                </p></div>
                <div class="flex justify-center items-center col-start-4 col-span-5">
                <p class="border-4 border-white border-opacity-10 rounded-xl  text-3xl text-white m-1 hover:border-opacity-100 p-4">
                    Meutick_frfr
                </p></div>
                <div class="flex justify-center items-center col-start-1 col-span-1">
                <p class="border-4 border-white border-opacity-10 rounded-xl  text-2xl text-white m-1 hover:border-opacity-100 p-4">
                    Linked-In:
                </p></div>
                <div class="flex justify-center items-center col-start-4 col-span-5">
                <p class="border-4 border-white border-opacity-10 rounded-xl  text-3xl text-white m-1 hover:border-opacity-100 p-4">
                    am_I_meutick
                </p></div>
            </div>
        </div>
    </div>
</body>
</html>
